<div class="col mb-4">
  <div class="card">
    <div class="card-header-get text-center">
      <h3><span class="get-badge"><strong>Get</strong></span></h3>
      <h5 class="text-left">/api/hug</h5>
    </div>

    <div class="card-body-endpoint">
      <p class="card-text"><strong>Endpoint</strong>:
      <pre class="pre"><i><a href="https://evergene.io/api/hug" target="_blank">https://evergene.io/api/hug</a></i>
      </pre>
      </p>
      <p class="text-left card-text"><strong>Code:</strong>

      <div class="js-hug" style="display: inline;">

        <pre><code class="language-js">
const fetch = require('node-fetch');

fetch('https://evergene.io/api/hug')
   .then(res => res.json())
   .then(json => {
      console.log(json)
      //YOUR CODE
    });
          </code></pre>

      </div>

      </p>
      <p class="card-text"><strong>Output</strong>:
      </p>
      <pre class="pre"><code class="language-json">
{ "url": "https://cdn.nekos.life/hug/hug_005.gif" }
        </code></pre>
      </p>
    </div>
  </div>
</div>