<div class="col mb-4">
    <div class="card">
      <div class="card-header text-center">
          <span class="get-badge"><strong>Get</strong></span>
          <h5>Hug</h5>
      </div>
      
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Javascript
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Python
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Java
          </label>
      </div>

      <div class="card-body">
          <p class="text-center"><strong>Javascript</strong></p>
          <p class="card-text"><strong>Endpoint</strong>:
              <pre><i><a href="https://evergene.io/api/hug"
                      target="_blank">https://evergene.io/api/hug</a></i></pre>
          </p>
          <p class="text-left"><strong>Code:</strong>
          <pre>Test Code #1</pre></p>
          <p class="card-text"><strong>Output</strong>:
          </p>
          <pre>{ "url": "https://cdn.nekos.life/hug/hug_005.gif" }</pre>
          </p>
      </div>

    </div>
</div>