<div class="container down">
    <h1 style="font-weight:800;">
        <%- pageTitle %>
    </h1>
    <br />
    <p class="text-justify">Setsuna is a Discord bot containing a lot of cool commands and features. It has active
        development so new features should be added some times.</p>

    <h2 class="display-3 text-center">Features</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body card-body-endpoint">
                    <h5 class="card-title text-center">99% UP TIME</h5>
                    <p class="card-text">THE BOT IS ONLINE 99% OF THE TIME</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body card-body-endpoint">
                    <h5 class="card-title text-center">HIGH QUALITY MUSIC</h5>
                    <p class="card-text">BOT HAS HIGH QUALITY MUSIC WITH OUT ANY AUDIO ISSUES</p>
                </div>
            </div>
        </div>
    </div> <br \>
    <div class="card text-center">
        <div class="card-body card-body-endpoint">
            <h3 class="card-title">Features</h3>
            <p class="card-text">
                Bot has features like
            <ol>
                <li>Modaration</li>
                <li>Memes</li>
                <li>Music</li>
            </ol>
            And many more type's of commands!
            </p>
            <a href="/setsuna/commands" class="btn btn-primary">Commands</a>
        </div>
    </div>

    <h2 class="display-3 text-center">Team</h2>
    <div class="row text-center  justify-content-around">

        <!-- Team card item -->
        <div class="col-md-4 col-sm-6 mb-5">
            <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img
                    src="https://cdn.evergene.io/website/team/NewtTheWolf.png" alt="" width="200"
                    class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Newt</h5><span class="small text-uppercase text-muted">Owner - API Head Dev</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://github.com/NewtTheWolf" class="social-link"><i
                                class="fab fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/NewtTheWolf" class="social-link"><i
                                class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://dsc.bio/newtthewolf" class="social-link"><i
                                class="fab fa-discord"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End -->
    </div>
</div>
</div>