<div class="container down">
    <h1 style="font-weight:800;">
        <%- pageTitle %>
    </h1>
    <br />
    <div class="row">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Social Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.kiss​</li>
                    <li>s.hug​</li>
                    <li>s.slap​</li>
                    <li>s.punch​</li>
                    <li>s.pat​</li>
                    <li>s.cuddle​</li>
                    <li>s.feed​</li>
                    <li>s.tickle​</li>
                    <li>s.poke​</li>
                    <li>s.smug​</li>
                    <li>s.baka​</li>
                    <li>s.cry</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Fun Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.meme​</li>
                    <li>s.snowball​</li>
                    <li>s.rickroll​</li>
                    <li>s.pp​</li>
                    <li>s.define​</li>
                    <li>s.hack​</li>
                    <li>s.howgay​</li>
                    <li>s.kannagen​</li>
                    <li>s.trumptweet​</li>
                    <li>s.matchme</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Utility Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.help​</li>
                    <li>s.botinfo​</li>
                    <li>s.ping​</li>
                    <li>s.user​</li>
                    <li>s.avatar​</li>
                    <li>s.invite</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Music Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.play​</li>
                    <li>s.stop​</li>
                    <li>s.pause​</li>
                    <li>s.resume​</li>
                    <li>s.queue​</li>
                    <li>s.clearqueue</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Moderation Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.prefix​</li>
                    <li>s.ban​</li>
                    <li>s.kick​</li>
                    <li>s.warn​</li>
                    <li>s.removewarn</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">Marriage Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.divorce​</li>
                    <li>s.marry​</li>
                    <li>s.marriage</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
            <div class="card-header">NSFW Commands</div>
            <div class="card-body">

                <p class="card-text">
                <ul>
                    <li>s.pussy​</li>
                    <li>s.anal​</li>
                    <li>s.hentai​</li>
                    <li>s.boobs​</li>
                    <li>s.bj​</li>
                    <li>s.trap​</li>
                    <li>s.feet</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>