<div class="container-fluid footer pull-down">
    <div class="container">
        <p class="float-left">Copyright 2020 &copy; <a href="/">Evergene Studios LLC</a>.</p>
        <p class="float-right"><strong>Website Version:</strong> <%- version %>
            <br />
            <i class="fas fa-envelope-open-text"></i> <a href="mailto:contact@evergene.io"
                target="_blank">contact@evergene.io</a><br />
            <i class="fab fa-twitter-square"></i> <a href="https://twitter.com/EvergeneIO" target="_blank"> Twitter</a>
        </p>
    </div>
</div>