<div class="container down">
    <h1 style="font-weight:800;">
        <%- pageTitle %>
    </h1>
    <br />
    <div>
        <h3 class="mt-4"> <span class="p-2 bg-dark shadow rounded text-success"> Version 1.2.0</span> 26th Jan 2021</h3><br>
        <h5>
            <p>Added</p>
        </h5>
        <li>Settings Page</li>
        <li>Reset token to settingpage</li>
        <li>NSFW request of the API Keys</li>
        <li>Saving API Key</li>
        <li>Contact form on Contact Page (Curently not Working)</li>

        <h5>
            <p>Fixed</p>
        </h5>
        <li>Reset API key</li>
        <li>Logout</li>
        <li>Repsonsive Designe</li>
        <li>Team Page</li>

        <h5>
            <p>Removed</p>
        </h5>
        <li>Reset token on the Profile Page</li>
        <table class="table table-dark">
            <p>(because includes Loli)</p>
            <tbody>
                <tr>
                    <td>Anal</td>
                    <td>Blow Job</td>
                    <td>Classic</td>
                    <td>Cum</td>
                </tr>
                <tr>
                    <td>Ero</td>
                    <td>Feet</td>
                    <td>Femdom</td>
                    <td>Futanari</td>
                </tr>
                <tr>
                    <td>Gasm</td>
                    <td>Hentai</td>
                    <td>Hentai Gif</td>
                    <td>Hentai Image</td>
                </tr>
                <tr>
                    <td>Holo</td>
                    <td>Kemonomimi</td>
                    <td>Keta</td>
                    <td>Kitsune</td>
                </tr>
                <tr>
                    <td>Kuni</td>
                    <td>Lesbian</td>
                    <td>Neko</td>
                    <td>Pussy</td>
                </tr>
                <tr>
                    <td>Solo Girl</td>
                    <td>Spank</td>
                    <td>Tits</td>
                    <td>Trap</td>
                </tr>
                <tr>
                    <td>Yuri</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3 class="mt-4"> <span class="p-2 bg-dark shadow rounded text-success"> Version 1.1.1</span> 12th Jan 2021</h3><br>
        <h5>
            <p>Added</p>
        </h5>
        <table class="table table-dark">
            <tbody>
                <tr>
                    <td>Anal</td>
                    <td>Blow Job</td>
                    <td>Classic</td>
                    <td>Cum</td>
                </tr>
                <tr>
                    <td>Ero</td>
                    <td>Feet</td>
                    <td>Femdom</td>
                    <td>Futanari</td>
                </tr>
                <tr>
                    <td>Gasm</td>
                    <td>Hentai</td>
                    <td>Hentai Gif</td>
                    <td>Hentai Image</td>
                </tr>
                <tr>
                    <td>Holo</td>
                    <td>Kemonomimi</td>
                    <td>Keta</td>
                    <td>Kitsune</td>
                </tr>
                <tr>
                    <td>Kuni</td>
                    <td>Lesbian</td>
                    <td>Neko</td>
                    <td>Pussy</td>
                </tr>
                <tr>
                    <td>Solo Girl</td>
                    <td>Spank</td>
                    <td>Tits</td>
                    <td>Trap</td>
                </tr>
                <tr>
                    <td>Yuri</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3 class="mt-4"> <span class="p-2 bg-dark shadow rounded text-success"> Version 1.1</span> 8th Jan 2021</h3><br>
        <h5>
            <p>Added</p>
        </h5>
        <ul>
            <li>Widget from <a href="https://widgetbot.io/" target="_blank">Widgetbot</a></li>
            <li>New Endpoints
                <ul>
                    <li>Hug</li>
                    <li>Tickle</li>
                    <li>Slap</li>
                    <li>Poke</li>
                    <li>Pat</li>
                    <li>Kiss</li>
                    <li>Feed</li>
                    <li>Cuddle</li>
                </ul>
        </ul>
    </div>
</div>