<div class="container down padit">
    <h1 style="font-weight:800;">Contact Us</h1>
    <p>Until we have a contact form, here's some links where you can reach us!</p>
    <br />
    <span style="padding-right:10px;"><a href="mailto:contact@evergene.io" target="_blank" class="btn btn-dark"><i
                class="fas fa-envelope-open-text"></i>
            E-Mail</a></span>
    <span style="padding-right:10px;"><a href="https://twitter.com/EvergeneIO" target="_blank" class="btn btn-dark"><i
                class="fab fa-twitter-square"></i>
            Twitter</a></span>
    <span><a href="#" target="_blank" class="btn btn-dark"><i class="fab fa-discord"></i> Discord</a></span>
</div>
