<div class="container">
    <div class="container down">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="interaction" data-toggle="collapse" data-target="#demo">
                    <h5 class="mb-0">
                        <p class="text-center">Interaction</p>
                    </h5>
                </div> 

                <div class="red card-body">
                    <div class="row row-cols-1 row-cols-md-2">
                        <%- include('endpoints/hug.ejs') %>
                        <%- include('endpoints/hug.ejs') %>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container down">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="interaction" data-toggle="collapse" data-target="#demo">
                    <h5 class="mb-0">
                        <p class="text-center">Test</p>
                    </h5>
                </div> 

                <div class="red card-body">
                    <div class="row row-cols-1 row-cols-md-2">
                        <%- include('endpoints/hug.ejs') %>
                        <%- include('endpoints/hug.ejs') %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>