<div class="container down">
    <div style="padding-bottom:40px;">
        <img src="<%- user.avatarURL %>" class="avi"><span
            style="font-weight:800;font-size:50px;padding-left:30px;"><%- user.username %></span>
    </div>
    <div class="mx-auto">
        <h3>Your API Token:</h3>
        <span class="bg-darkk p-1"><%- token %></span><br /><br />
        <a class="btn btn-danger">Reset Token</a>
    </div>
</div>
