<div class="container down">
    <div style="padding-bottom:40px;">
        <img src="<%- user.avatarURL %>" class="avi"><span
            style="font-weight:800;font-size:50px;padding-left:30px;"><%- user.username %></span>
    </div>
    <div class="mx-auto">
        <h3>Your API Token:</h3>
        <span class="bg-dark p-1"><%- token %></span><br /><br />
        <!--<a class="btn btn-danger" href="/token/reset">Reset Token</a>-->
    </div>
    <!--<p><%- guildName %></p>-->
</div>
