<div class="container down">
  <h1 style="font-weight:800;" class="mb-3">
    <i class="far fa-cogs"></i>
    <%- pageTitle %>
  </h1>
  <% if (alert == 'reset') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>API Key was successfully reseted</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <% if (alert == 'request') { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>You now have the right to use the NSFW endpoints</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <div class="card p-3 w-100">
        <div class="card-body p-3 text-center">
          <div class="mb-4">
            <img src="<%- user.avatarURL %>" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm mx-auto d-block">
            <h1 class="card-title"><%- user.username %></h1>
          </div>
          <div class="mx-auto">
            <button class="btn btn-danger" data-toggle="modal" data-target="#sure"><i class="far fa-exclamation-triangle"></i> Reset Token</button>
          
            <div class="modal fade color" id="sure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true" data-backdrop="static" data-keyboard="false" data-focus="true">
                  <div class="modal-dialog" role="document">
                      <!--Content-->
                      <div class="modal-content">
                          <!--Header-->
                          <div class="modal-header">
                              <h4 class="modal-title w-100" id="myModalLabel">Are you sure?</h4>
                          </div>
                          <!--Body-->
                          <div class="modal-body">
                            If you press on "Yes, I am sure" your API key will be reset!
                          </div>
                          <!--Footer-->
                          <div class="modal-footer">
                              <button type="button" class="btn btn-success" onclick="window.location.href='/token/reset';">Yes, I am Sure!</button>
                              </a><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
            </div>

            <% if (nsfw) { %>
            <!--NSFW CHECK LATER IN "index.js"-->
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Request NSFW Perms</button>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="form-group">
                    <form action="/nsfw">
                      <label>
                        Enter your birthday:
                        <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control" required>
                      </label>
                      <p><button class="btn btn-success">Submit</button></p>
                    </form>
                  </div>
                </div>
              </div>
            <!--NSFW CHECK LATER IN "index.js"-->
            <% } %>
          </div>
        </div>
      </div>
</div>