<div class="container down">
    <h1 style="font-weight:800;">Evergene's Team</h1>
    <p>Main team & developers of Evergene Studios.</p>
    <br />
    <!-- <div class="row">
        <div class="col-sm">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://data.newt.ch/NewtTheWolf.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NewtTheWolf</h5>
                    <p>Lead Developer</p>
                    <a href="https://github.com/NewtTheWolf" class="card-link" target="_blank"><i
                            class="fab fa-github-square"></i></a>
                    <a href="https://twitter.com/NewtTheWolf" class="card-link" target="_blank"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="https://dsc.bio/newtthewolf" class="card-link" target="_blank"><i
                            class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://data.newt.ch/FurVomAnderenStern.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FurVomAnderenStern</h5>
                    <p>Senior Developer</p>
                    <a href="#" class="card-link"><i class="fab fa-discord-square"></i></a>
                    <a href="https://discord.com/users/442067508128907284" class="card-link" target="_blank"><i
                            class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://data.newt.ch/sebi-pb.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sebi</h5>
                    <p>Senior Developer</p>
                    <a href="https://github.com/SebiDevDiscord" class="card-link" target="_blank"><i
                            class="fab fa-github-square"></i></a>
                    <a href="https://twitter.com/S3BI_YT" class="card-link" target="_blank"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="https://discord.bio/p/sebik" class="card-link" target="_blank"><i
                            class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
    <div class="col-sm">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://data.newt.ch/sebi-pb.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">MooVoo</h5>
                    <p>Web Developer</p>
                    <a href="https://github.com/MooVoo" class="card-link" target="_blank"><i
                        class="fab fa-github-square"></i></a>
                    <a href="https://twitter.com/MooVoo" class="card-link" target="_blank"><i
                        class="fab fa-twitter-square"></i></a>
                    <a href="https://discord.bio/p/MooVoo" class="card-link" target="_blank"><i
                        class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>-->
    <div class="card-deck">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.evergene.io/evergene-website/team/NewtTheWolf.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Newt</h5>
                <p>Lead Developer</p>
                <a href="https://github.com/NewtTheWolf" class="card-link" target="_blank"><i
                        class="fab fa-github-square"></i></a>
                <a href="https://twitter.com/NewtTheWolf" class="card-link" target="_blank"><i
                        class="fab fa-twitter-square"></i></a>
                <a href="https://dsc.bio/newtthewolf" class="card-link" target="_blank"><i
                        class="fab fa-discord"></i></a>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.evergene.io/evergene-website/team/FurVomAnderenStern.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">FurVomAnderenStern</h5>
                <p>Senior Developer</p>
                <a href="#" class="card-link"><i class="fab fa-discord-square"></i></a>
                <a href="https://discord.bio/p/furfur" class="card-link" target="_blank"><i
                        class="fab fa-discord"></i></a>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.evergene.io/evergene-website/team/Sebi.gif" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sebi</h5>
                <p>Senior Developer</p>
                <a href="https://github.com/SebiDevDiscord" class="card-link" target="_blank"><i
                        class="fab fa-github-square"></i></a>
                <a href="https://twitter.com/S3BI_YT" class="card-link" target="_blank"><i
                        class="fab fa-twitter-square"></i></a>
                <a href="https://discord.bio/p/sebik" class="card-link" target="_blank"><i
                        class="fab fa-discord"></i></a>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/U1AMNlV.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MooVoo</h5>
                <p>Web Developer</p>
                <a href="https://discord.bio/p/MooVoo" class="card-link" target="_blank"><i
                        class="fab fa-discord"></i></a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/U1AMNlV.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Open Position</h5>
                <p>Web Developer</p>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/U1AMNlV.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Open Position</h5>
                <p>Web Developer</p>
            </div>
        </div>
    </div>
</div>
</div>