<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:title" content="EVERGENE | <%- pageTitle %>">
    <meta property="og:url" content="https://evergene.io">
    <meta property="og:image" content="https://data.newt.ch/E.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Evergene Studios is currently an image API that is actively adding new endpoints.<br><br>This link will take you to our Official Discord Support Server where you can also make suggestions for endpoints as well as vote for existing suggestions.">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="de_DE">
    <meta property="og:site_name" content="Evergene">
    <meta name="theme-color" content="#0000FF">
    <meta http-equiv="refresh" content="6; URL=https://discord.gg/97anJxvmju">


    <title>EVERGENE | <%- pageTitle %>
    </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <script type="text/javascript" src="https://data.newt.ch/functions.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- Render Content/ -->
    <% if (lang == 'de') { %>
        <%- include('content/de/request.ejs') %>
    <% } else { %>
        <%- include('content/en/request.ejs') %>
    <% } %>
</body>

</html>