<div class="container down">
    <div class="row">
        <div class="col-md">
            <h1 style="font-weight:800;" class="text-center">Contact Form</h1>  
            <div class="container contact-form">
                <form method="post">
                    <div class="form-group">
                        <h5>What's your name?</h5>
                        <input type="text" name="txtName" class="form-control bg-dark border-dark" value="" />
                    </div>
                    <div class="form-group">
                        <h5>What's your e-mail?</h5>
                        <input type="text" name="txtEmail" class="form-control bg-dark border-dark" value="" />
                    </div>
                    <div class="form-group">
                        <h5>How can we help you?</h5>
                        <textarea name="txtMsg" class="form-control bg-dark border-dark" style="width: 100%; min-height: 100px;"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact w-25" value="Send it" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md text-center">
            <h1 style="font-weight:800;" class="text-center">Our Socials</h1>
            <h5>You can contact us at the following socials</h5>
            <div class="socials">
                <a href="" style="background-color: #578FDB"><i class="fas fa-envelope"></i> E-mail</a>
                <a href="" style="background-color: #55acee"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="" style="background-color:#7289DA"><i class="fab fa-discord"></i> Discord</a>
            </div>
        </div>
    </div>
</div>
