<div class="container">
    <p><strong>Contact address</strong></p>
    <p>Dominik Spitzli<br />Hauptstrasse 94<br />9113 Degersheim<br />Switzerland</p>
    <p>Email:<br />dominik@spitzli.dev</p><br /><br />
    <p><strong>Disclaimer</strong></p>The author accepts no liability whatsoever with regard to the correctness,
    accuracy, timeliness, reliability and completeness of the information.</p>
    <p>Claims of liability against the author for damage of a material or immaterial nature arising from access to or
        the use or non-use of the published information, through misuse of the connection or due to technical
        malfunctions are excluded.</p>
    <p>All offers are non-binding. The author expressly reserves the right to change, complete or delete parts of the
        page and the entire offer or discontinue further publication of the page without seperate announcements.</p>
    <br /><br />
    <p><strong>Disclaimer for links</strong></p>
    <p>References and links to third-party websites are outside of our responsibility. The responsibility for any of
        such websites is declined. The access and use of such websites are at the users own risk.</p><br /><br />
    Source: <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
</div>