<div class="container down">
    <div class="container" id="teams-partners-color">
        <h1 style="font-weight:800;">Evergene's Team</h1>
        <p>Main team & developers of Evergene Studios.</p>
        <div class="row text-center  justify-content-around">

            <!-- Team card item -->
        <div class="col-md-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.evergene.io/website/team/NewtTheWolf.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Newt</h5><span class="small text-uppercase text-muted">Owner - API Head Dev</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/NewtTheWolf" class="social-link"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/NewtTheWolf" class="social-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://dsc.bio/newtthewolf" class="social-link"><i class="fab fa-discord"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->

            <!-- Team card item -->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.evergene.io/website/team/FurVomAnderenStern.jpg" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Fur</h5><span class="small text-uppercase text-muted">API Dev</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-discord"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->

            <!-- Team card item -->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.evergene.io/website/team/Sei.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Sei</h5><span class="small text-uppercase text-muted">Web Head Dev</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/git-sei" class="social-link"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/notseiQQ" class="social-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://dsc.bio/notsei" class="social-link"><i class="fab fa-discord"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->

            <!-- Team card item -->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.evergene.io/website/team/MooVoo.gif" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">MooVoo</h5><span class="small text-uppercase text-muted">Web Dev</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/MooVooTheReal" class="social-link"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/Public_MooVoo" class="social-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://dsc.bio/moovoo" class="social-link"><i class="fab fa-discord"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->

            <!-- Team card item -->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.evergene.io/website/team/Saila.png" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Saila</h5><span class="small text-uppercase text-muted">Web Dev</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://twitter.com/EpsilonGlaso/" class="social-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://discord.bio/p/sailamika" class="social-link"><i class="fab fa-discord"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->

            <!-- Team card item -->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.evergene.io/website/team/Phew.gif" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Phew</h5><span class="small text-uppercase text-muted">Discord Marketing</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://discord.bio/p/phew" class="social-link"><i class="fab fa-discord"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->

            <!-- Team card item -->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="bg-darker rounded shadow-sm py-5 px-4 card-pic"><img src="https://cdn.discordapp.com/avatars/467414935530504192/a_99631e2f9c8e7181bd7cd1aa3266fc46.gif?size=1024" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Stantac</h5><span class="small text-uppercase text-muted">Discord Marketing</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://discord.bio/p/stantac" class="social-link"><i class="fab fa-discord"></i></a></li>
                        <li class="list-inline-item"><a href="https://discord.bio/p/stantac" class="social-link"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>