<div class="container down">
    <div class="col mb-4">
        <% if (user) { %>
            <!-- Central Modal Medium -->
            <div class="modal fade color" id="age" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true" data-backdrop="static" data-keyboard="false" data-focus="true">
                <div class="modal-dialog" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Age verification</h4>
                        </div>
                        <!--Body-->
                        <div class="modal-body">
                            Since these endpoints are NSWF you must confirm that you are 18 years or older!
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success"
                                onclick="sessionStorage.setItem('nsfw', 'true');" data-dismiss="modal">Yes i am
                                18+</button>
                            </a><button type="button" class="btn btn-danger"
                                onclick="sessionStorage.setItem('nsfw', 'false'); window.location.href='/';">I am not
                                18+
                                (close)</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>

            <!-- Central Modal Medium -->
            <h1 style="font-weight:800;">
                <%- pageTitle %> Endpoints
            </h1>
            <p>Base URL: <i><span style="color:#89C9ED">https://evergene.io/api/nsfw/:endpoint</span></i>
            <p>List of random image API's we provide.<br /><i>Got questions? Check the bottom of the page.</i></p>
            <br />
            <h1 style="font-weight:600;">Anime</h1>
            <div class="alert alert-primary">
                These API endpoints are new and untested, please give me feedback on how you like them.
            </div>

            <div class="row row-cols-1 row-cols-md-2">

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Anal</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/anal"
                                        target="_blank">https://evergene.io/api/nsfw/anal</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Blow Job</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/blowjob"
                                        target="_blank">https://evergene.io/api/nsfw/blowjob</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Boobs</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/boobs"
                                        target="_blank">https://evergene.io/api/nsfw/boobs</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Classic</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/classic"
                                        target="_blank">https://evergene.io/api/nsfw/classic</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Cum</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/cum"
                                        target="_blank">https://evergene.io/api/nsfw/cum</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Ero</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/ero"
                                        target="_blank">https://evergene.io/api/nsfw/ero</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Feet</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/feet"
                                        target="_blank">https://evergene.io/api/nsfw/feet</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Femdom</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/femdom"
                                        target="_blank">https://evergene.io/api/nsfw/femdom</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Futanari</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/futanari"
                                        target="_blank">https://evergene.io/api/nsfw/futanari</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Gasm</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/gasm"
                                        target="_blank">https://evergene.io/api/nsfw/gasm</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Hentai</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/hentai"
                                        target="_blank">https://evergene.io/api/nsfw/hentai</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Hentai Gif</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/hentaigif"
                                        target="_blank">https://evergene.io/api/nsfw/hentaigif</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Hentai Image</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/hentaiimage"
                                        target="_blank">https://evergene.io/api/nsfw/hentaiimage</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Holo</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/holo"
                                        target="_blank">https://evergene.io/api/nsfw/holo</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Kemonomimi</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/kemonomimi"
                                        target="_blank">https://evergene.io/api/nsfw/kemonomimi</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Keta</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/keta"
                                        target="_blank">https://evergene.io/api/nsfw/keta</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Kitsune</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/kitsune"
                                        target="_blank">https://evergene.io/api/nsfw/kitsune</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Kuni</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/kuni"
                                        target="_blank">https://evergene.io/api/nsfw/kuni</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Lesbian</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/lesbian"
                                        target="_blank">https://evergene.io/api/nsfw/lesbian</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Neko</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/neko"
                                        target="_blank">https://evergene.io/api/nsfw/neko</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Pussy</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/pussy"
                                        target="_blank">https://evergene.io/api/nsfw/pussy</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Solo Girl</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/sologirl"
                                        target="_blank">https://evergene.io/api/nsfw/sologirl</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Spank</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/spank"
                                        target="_blank">https://evergene.io/api/nsfw/spank</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Tits</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/tits"
                                        target="_blank">https://evergene.io/api/nsfw/tits</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Trap</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/trap"
                                        target="_blank">https://evergene.io/api/nsfw/trap</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header"><i class="fad fa-badge-check api-icon"></i>
                            <strong>Yuri</strong>
                            <span class="nsfw-badge">NSFW</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Endpoint</strong>:
                                <i><a href="https://evergene.io/api/nsfw/yuri"
                                        target="_blank">https://evergene.io/api/nsfw/yuri</a></i>
                            </p>
                            <p class="card-text"><strong>Output</strong>:
                            </p>
                            <pre>{ "url": "https://cdn.nekos.life/anal/Anal_083.gif" }</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <% } else { %>
                    <div class="container">
                        <div class="container down">

                            <div class="alert alert-danger">
                                These endpoints are all NSFW and you must be logged in to
                                use these endpoints.
                            </div>
                            <a href="/profile"><button type="button" class="btn btn-success">Login</button></a>
                        </div>
                    </div>
                    <% } %>
            </div>
    </div>
</div>