<div class="container down">
    <div class="alert alert-danger" role="alert">
        The API Endpoint is not functional ATM!
    </div>
    <a class="btn btn-dark" href="/api"><i class="fad fa-chevron-left"></i> Back to API</a>
    <a class="btn btn-dark" onClick="location.reload();"><i class="fad fa-sync-alt"></i> Generate New Picture</a>
    <h1>r/DankMemes</h1>
    <p>Randomly generated from <a href="https://reddit.com/r/DankMemes" target="_blank">r/DankMemes</a></p>
    <% if (image.endsWith(".mp4")) { %>
    <video width="320" height="240" controls>
        <source src="<%- image %>" type="video/mp4">
    </video>
    <% } else { %>
    <img class="rnd" src="<%- image %>" />
    <% } %>
</div>

<div class="container down">
    <h1>Output</h1>
    <p><i>Json Output of the page | Base URL: <span style="color:#89C9ED">https://evergene.io/api/DankMemes</span></i>
    </p>
    <pre>{ "image": "<%- image %>" }</pre>
</div>