    <!--
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cookieModal">
      Cookie
    </button>
    -->
  
  <div class="modal fade modal-bottom" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body">
          <div class="notice d-flex justify-content-between align-items-center">
            <div class="cookie-text">We use third party cookies to personalize content, ads and&nbsp; analyze site traffic. <a href="#">Learn More</a>
            </div>
            <div class="buttons d-flex flex-column flex-lg-row">
              <a href="#" class="btn btn-primary btn-sm" data-dismiss="modal">Accept</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .buttons .btn{
        margin: 0.2rem;
        color: white !important;
    }
  </style>